In [1]:
import requests

In [56]:
headers = {
    "key": "B8DE27145B59CF9845FE",
    "format": "json",
    "success": "true",
    "errcd": "",
    "errmsg": "",
    "code": "A005930,A055550,A009200,A024110,A253590",
    "item": "M111000,M113000,M122700,M221100,M312000,M314000,M382100",
    "consolgb": "M",
    "annualgb": "QQ",
    "accdategb": "C",
    "fraccyear": "201203",
    "toaccyear": "202209"
}

In [57]:
url = "https://www.fnspace.com/Api/FinanceApi"
res = requests.get(url,headers)
res

In [58]:
resdict = res.json()

In [59]:
resdict['dataset'][0]

{'CODE': 'A005930',
 'NAME': '삼성전자',
 'DATA': [{'DATE': '201203',
   'YYMM': '201203',
   'FS_YEAR': 2012,
   'FS_MONTH': 3,
   'FS_QTR': '1Q',
   'MAIN_TERM': '연결',
   'M111000': 160156621000,
   'M113000': 54649928000,
   'M122700': 5048461000,
   'M221100': 51.798,
   'M312000': 571.423621,
   'M314000': 13715.76499,
   'M382100': 44.6254},
  {'DATE': '201206',
   'YYMM': '201206',
   'FS_YEAR': 2012,
   'FS_MONTH': 6,
   'FS_QTR': '2Q',
   'MAIN_TERM': '연결',
   'M111000': 166300009000,
   'M113000': 56035900000,
   'M122700': 5193420000,
   'M221100': 50.82,
   'M312000': 593.541406,
   'M314000': 14313.38929,
   'M382100': 40.46895},
  {'DATE': '201209',
   'YYMM': '201209',
   'FS_YEAR': 2012,
   'FS_MONTH': 9,
   'FS_QTR': '3Q',
   'MAIN_TERM': '연결',
   'M111000': 176727146000,
   'M113000': 60188312000,
   'M122700': 6564927000,
   'M221100': 51.647,
   'M312000': 755.277449,
   'M314000': 14910.28826,
   'M382100': 35.64255},
  {'DATE': '201212',
   'YYMM': '201212',
   'FS_YEAR': 2012,
   'FS_MONTH': 12,
   'FS_QTR': '4Q',
   'MAIN_TERM': '연결',
   'M111000': 181071570000,
   'M113000': 59591364000,
   'M122700': 7038477000,
   'M221100': 49.054,
   'M312000': 805.320132,
   'M314000': 15539.85178,
   'M382100': 37.79865},
  {'DATE': '201303',
   'YYMM': '201303',
   'FS_YEAR': 2013,
   'FS_MONTH': 3,
   'FS_QTR': '1Q',
   'MAIN_TERM': '연결',
   'M111000': 190842671000,
   'M113000': 62037027000,
   'M122700': 7154941000,
   'M221100': 48.163,
   'M312000': 820.173356,
   'M314000': 16471.71712,
   'M382100': 37.23605},
  {'DATE': '201306',
   'YYMM': '201306',
   'FS_YEAR': 2013,
   'FS_MONTH': 6,
   'FS_QTR': '2Q',
   'MAIN_TERM': '연결',
   'M111000': 203761612000,
   'M113000': 65382074000,
   'M122700': 7773811000,
   'M221100': 47.248,
   'M312000': 890.482917,
   'M314000': 17679.86557,
   'M382100': 30.14095},
  {'DATE': '201309',
   'YYMM': '201309',
   'FS_YEAR': 2013,
   'FS_MONTH': 9,
   'FS_QTR': '3Q',
   'MAIN_TERM': '연결',
   'M111000': 210812881000,
   'M113000': 66374078000,
   'M122700': 8244736000,
   'M221100': 45.953,
   'M312000': 946.265353,
   'M314000': 18468.604,
   'M382100': 28.89255},
  {'DATE': '201312',
   'YYMM': '201312',
   'FS_YEAR': 2013,
   'FS_MONTH': 12,
   'FS_QTR': '4Q',
   'MAIN_TERM': '연결',
   'M111000': 214075018000,
   'M113000': 64059008000,
   'M122700': 7301276000,
   'M221100': 42.701,
   'M312000': 848.718828,
   'M314000': 19160.80294,
   'M382100': 32.3311},
  {'DATE': '201403',
   'YYMM': '201403',
   'FS_YEAR': 2014,
   'FS_MONTH': 3,
   'FS_QTR': '1Q',
   'MAIN_TERM': '연결',
   'M111000': 225292596000,
   'M113000': 69730872000,
   'M122700': 7574441000,
   'M221100': 44.825,
   'M312000': 879.863446,
   'M314000': 19879.13763,
   'M382100': 30.52745},
  {'DATE': '201406',
   'YYMM': '201406',
   'FS_YEAR': 2014,
   'FS_MONTH': 6,
   'FS_QTR': '2Q',
   'MAIN_TERM': '연결',
   'M111000': 224723074000,
   'M113000': 65209610000,
   'M122700': 6250781000,
   'M221100': 40.88,
   'M312000': 726.080721,
   'M314000': 20398.15104,
   'M382100': 36.4147},
  {'DATE': '201409',
   'YYMM': '201409',
   'FS_YEAR': 2014,
   'FS_MONTH': 9,
   'FS_QTR': '3Q',
   'MAIN_TERM': '연결',
   'M111000': 231746489000,
   'M113000': 68278794000,
   'M122700': 4222345000,
   'M221100': 41.769,
   'M312000': 486.140577,
   'M314000': 20915.12166,
   'M382100': 48.7102},
  {'DATE': '201412',
   'YYMM': '201412',
   'FS_YEAR': 2014,
   'FS_MONTH': 12,
   'FS_QTR': '4Q',
   'MAIN_TERM': '연결',
   'M111000': 230422958000,
   'M113000': 62334770000,
   'M122700': 5346791000,
   'M221100': 37.085,
   'M312000': 621.38425,
   'M314000': 21664.10857,
   'M382100': 42.7111},
  {'DATE': '201503',
   'YYMM': '201503',
   'FS_YEAR': 2015,
   'FS_MONTH': 3,
   'FS_QTR': '1Q',
   'MAIN_TERM': '연결',
   'M111000': 227250377000,
   'M113000': 59631070000,
   'M122700': 4625815000,
   'M221100': 35.575,
   'M312000': 531.270156,
   'M314000': 21702.91053,
   'M382100': 54.24735},
  {'DATE': '201506',
   'YYMM': '201506',
   'FS_YEAR': 2015,
   'FS_MONTH': 6,
   'FS_QTR': '2Q',
   'MAIN_TERM': '연결',
   'M111000': 231690886000,
   'M113000': 57754240000,
   'M122700': 5752297000,
   'M221100': 33.204,
   'M312000': 661.452135,
   'M314000': 22537.28614,
   'M382100': 38.3399},
  {'DATE': '201509',
   'YYMM': '201509',
   'FS_YEAR': 2015,
   'FS_MONTH': 9,
   'FS_QTR': '3Q',
   'MAIN_TERM': '연결',
   'M111000': 246567573000,
   'M113000': 65838937000,
   'M122700': 5458559000,
   'M221100': 36.43,
   'M312000': 623.760395,
   'M314000': 23421.85019,
   'M382100': 36.3601},
  {'DATE': '201512',
   'YYMM': '201512',
   'FS_YEAR': 2015,
   'FS_MONTH': 12,
   'FS_QTR': '4Q',
   'MAIN_TERM': '연결',
   'M111000': 242179521000,
   'M113000': 63119716000,
   'M122700': 3223473000,
   'M221100': 35.251,
   'M312000': 381.169026,
   'M314000': 23714.75904,
   'M382100': 66.1124},
  {'DATE': '201603',
   'YYMM': '201603',
   'FS_YEAR': 2016,
   'FS_MONTH': 3,
   'FS_QTR': '1Q',
   'MAIN_TERM': '연결',
   'M111000': 241239789000,
   'M113000': 62913603000,
   'M122700': 5252803000,
   'M221100': 35.28,
   'M312000': 629.618746,
   'M314000': 24016.52567,
   'M382100': 41.676},
  {'DATE': '201606',
   'YYMM': '201606',
   'FS_YEAR': 2016,
   'FS_MONTH': 6,
   'FS_QTR': '2Q',
   'MAIN_TERM': '연결',
   'M111000': 243960673000,
   'M113000': 62118157000,
   'M122700': 5847393000,
   'M221100': 34.16,
   'M312000': 707.997481,
   'M314000': 24830.14317,
   'M382100': 40.2544},
  {'DATE': '201609',
   'YYMM': '201609',
   'FS_YEAR': 2016,
   'FS_MONTH': 9,
   'FS_QTR': '3Q',
   'MAIN_TERM': '연결',
   'M111000': 244471456000,
   'M113000': 64935077000,
   'M122700': 4537855000,
   'M221100': 36.168,
   'M312000': 541.986807,
   'M314000': 24756.10011,
   'M382100': 58.96825},
  {'DATE': '201612',
   'YYMM': '201612',
   'FS_YEAR': 2016,
   'FS_MONTH': 12,
   'FS_QTR': '4Q',
   'MAIN_TERM': '연결',
   'M111000': 262174324000,
   'M113000': 69211291000,
   'M122700': 7088041000,
   'M221100': 35.868,
   'M312000': 858.249568,
   'M314000': 26635.58844,
   'M382100': 41.99245},
  {'DATE': '201703',
   'YYMM': '201703',
   'FS_YEAR': 2017,
   'FS_MONTH': 3,
   'FS_QTR': '1Q',
   'MAIN_TERM': '연결',
   'M111000': 264217372000,
   'M113000': 74399417000,
   'M122700': 7684354000,
   'M221100': 39.195,
   'M312000': 929.139971,
   'M314000': 26374.82616,
   'M382100': 44.3421},
  {'DATE': '201706',
   'YYMM': '201706',
   'FS_YEAR': 2017,
   'FS_MONTH': 6,
   'FS_QTR': '2Q',
   'MAIN_TERM': '연결',
   'M111000': 277589436000,
   'M113000': 76883688000,
   'M122700': 11053851000,
   'M221100': 38.307,
   'M312000': 1411.027429,
   'M314000': 28093.1662,
   'M382100': 33.69175},
  {'DATE': '201709',
   'YYMM': '201709',
   'FS_YEAR': 2017,
   'FS_MONTH': 9,
   'FS_QTR': '3Q',
   'MAIN_TERM': '연결',
   'M111000': 296578579000,
   'M113000': 85887328000,
   'M122700': 11193411000,
   'M221100': 40.765,
   'M312000': 1487.155065,
   'M314000': 29716.20312,
   'M382100': 34.48195},
  {'DATE': '201712',
   'YYMM': '201712',
   'FS_YEAR': 2017,
   'FS_MONTH': 12,
   'FS_QTR': '4Q',
   'MAIN_TERM': '연결',
   'M111000': 301752090000,
   'M113000': 87260662000,
   'M122700': 12255131000,
   'M221100': 40.683,
   'M312000': 1628.584763,
   'M314000': 30426.97039,
   'M382100': 31.29095},
  {'DATE': '201803',
   'YYMM': '201803',
   'FS_YEAR': 2018,
   'FS_MONTH': 3,
   'FS_QTR': '1Q',
   'MAIN_TERM': '연결',
   'M111000': 312473113000,
   'M113000': 89213233000,
   'M122700': 11688544000,
   'M221100': 39.959,
   'M312000': 1582.577339,
   'M314000': 31781.98394,
   'M382100': 31.10115},
  {'DATE': '201806',
   'YYMM': '201806',
   'FS_YEAR': 2018,
   'FS_MONTH': 6,
   'FS_QTR': '2Q',
   'MAIN_TERM': '연결',
   'M111000': 318688380000,
   'M113000': 85563535000,
   'M122700': 11043412000,
   'M221100': 36.703,
   'M312000': 1499.60623,
   'M314000': 33222.78896,
   'M382100': 31.10817},
  {'DATE': '201809',
   'YYMM': '201809',
   'FS_YEAR': 2018,
   'FS_MONTH': 9,
   'FS_QTR': '3Q',
   'MAIN_TERM': '연결',
   'M111000': 337195786000,
   'M113000': 95092626000,
   'M122700': 13150715000,
   'M221100': 39.278,
   'M312000': 1770.79202,
   'M314000': 34519.03388,
   'M382100': 26.2312},
  {'DATE': '201812',
   'YYMM': '201812',
   'FS_YEAR': 2018,
   'FS_MONTH': 12,
   'FS_QTR': '4Q',
   'MAIN_TERM': '연결',
   'M111000': 339357244000,
   'M113000': 91604067000,
   'M122700': 8462186000,
   'M221100': 36.974,
   'M312000': 1163.16358,
   'M314000': 35342.36456,
   'M382100': 33.27133},
  {'DATE': '201903',
   'YYMM': '201903',
   'FS_YEAR': 2019,
   'FS_MONTH': 3,
   'FS_QTR': '1Q',
   'MAIN_TERM': '연결',
   'M111000': 345067883000,
   'M113000': 91852732000,
   'M122700': 5043585000,
   'M221100': 36.275,
   'M312000': 751.91207,
   'M314000': 36141.87589,
   'M382100': 59.38194},
  {'DATE': '201906',
   'YYMM': '201906',
   'FS_YEAR': 2019,
   'FS_MONTH': 6,
   'FS_QTR': '2Q',
   'MAIN_TERM': '연결',
   'M111000': 342940134000,
   'M113000': 85193101000,
   'M122700': 5180576000,
   'M221100': 33.053,
   'M312000': 745.58761,
   'M314000': 36788.58072,
   'M382100': 63.03753},
  {'DATE': '201909',
   'YYMM': '201909',
   'FS_YEAR': 2019,
   'FS_MONTH': 9,
   'FS_QTR': '3Q',
   'MAIN_TERM': '연결',
   'M111000': 353385985000,
   'M113000': 89943741000,
   'M122700': 6287664000,
   'M221100': 34.142,
   'M312000': 898.76877,
   'M314000': 37599.86547,
   'M382100': 54.57466},
  {'DATE': '201912',
   'YYMM': '201912',
   'FS_YEAR': 2019,
   'FS_MONTH': 12,
   'FS_QTR': '4Q',
   'MAIN_TERM': '연결',
   'M111000': 352564497000,
   'M113000': 89684076000,
   'M122700': 5227040000,
   'M221100': 34.116,
   'M312000': 769.65252,
   'M314000': 37528.02655,
   'M382100': 72.50025},
  {'DATE': '202003',
   'YYMM': '202003',
   'FS_YEAR': 2020,
   'FS_MONTH': 3,
   'FS_QTR': '1Q',
   'MAIN_TERM': '연결',
   'M111000': 357457535000,
   'M113000': 91069812000,
   'M122700': 4884926000,
   'M221100': 34.187,
   'M312000': 719.8347,
   'M314000': 38053.04814,
   'M382100': 66.33467},
  {'DATE': '202006',
   'YYMM': '202006',
   'FS_YEAR': 2020,
   'FS_MONTH': 6,
   'FS_QTR': '2Q',
   'MAIN_TERM': '연결',
   'M111000': 357959499000,
   'M113000': 88151682000,
   'M122700': 5555083000,
   'M221100': 32.672,
   'M312000': 808.07173,
   'M314000': 38533.50654,
   'M382100': 65.34073},
  {'DATE': '202009',
   'YYMM': '202009',
   'FS_YEAR': 2020,
   'FS_MONTH': 9,
   'FS_QTR': '3Q',
   'MAIN_TERM': '연결',
   'M111000': 375788742000,
   'M113000': 99652554000,
   'M122700': 9360693000,
   'M221100': 36.088,
   'M312000': 1364.23748,
   'M314000': 39445.78046,
   'M382100': 42.66119},
  {'DATE': '202012',
   'YYMM': '202012',
   'FS_YEAR': 2020,
   'FS_MONTH': 12,
   'FS_QTR': '4Q',
   'MAIN_TERM': '연결',
   'M111000': 378235718000,
   'M113000': 102287702000,
   'M122700': 6607130000,
   'M221100': 37.068,
   'M312000': 948.88604,
   'M314000': 39405.76541,
   'M382100': 85.36325},
  {'DATE': '202103',
   'YYMM': '202103',
   'FS_YEAR': 2021,
   'FS_MONTH': 3,
   'FS_QTR': '1Q',
   'MAIN_TERM': '연결',
   'M111000': 392826274000,
   'M113000': 118557683000,
   'M122700': 7141685000,
   'M221100': 43.227,
   'M312000': 1044.18245,
   'M314000': 39125.59911,
   'M382100': 77.95573},
  {'DATE': '202106',
   'YYMM': '202106',
   'FS_YEAR': 2021,
   'FS_MONTH': 6,
   'FS_QTR': '2Q',
   'MAIN_TERM': '연결',
   'M111000': 384777669000,
   'M113000': 102453403000,
   'M122700': 9634486000,
   'M221100': 36.289,
   'M312000': 1391.30519,
   'M314000': 40361.2359,
   'M382100': 58.00309},
  {'DATE': '202109',
   'YYMM': '202109',
   'FS_YEAR': 2021,
   'FS_MONTH': 9,
   'FS_QTR': '3Q',
   'MAIN_TERM': '연결',
   'M111000': 410420718000,
   'M113000': 113654600000,
   'M122700': 12293331000,
   'M221100': 38.298,
   'M312000': 1775.03225,
   'M314000': 42447.40873,
   'M382100': 41.74572},
  {'DATE': '202112',
   'YYMM': '202112',
   'FS_YEAR': 2021,
   'FS_MONTH': 12,
   'FS_QTR': '4Q',
   'MAIN_TERM': '연결',
   'M111000': 426621158000,
   'M113000': 121721227000,
   'M122700': 10837948000,
   'M221100': 39.922,
   'M312000': 1566.85415,
   'M314000': 43611.38252,
   'M382100': 49.97274},
  {'DATE': '202203',
   'YYMM': '202203',
   'FS_YEAR': 2022,
   'FS_MONTH': 3,
   'FS_QTR': '1Q',
   'MAIN_TERM': '연결',
   'M111000': 439326959000,
   'M113000': 124036040000,
   'M122700': 11324628000,
   'M221100': 39.34,
   'M312000': 1638.39775,
   'M314000': 45106.2548,
   'M382100': 42.48053},
  {'DATE': '202206',
   'YYMM': '202206',
   'FS_YEAR': 2022,
   'FS_MONTH': 6,
   'FS_QTR': '2Q',
   'MAIN_TERM': '연결',
   'M111000': 448040650000,
   'M113000': 120133986000,
   'M122700': 11098805000,
   'M221100': 36.637,
   'M312000': 1612.69666,
   'M314000': 46937.4557,
   'M382100': 35.34453},
  {'DATE': '202209',
   'YYMM': '202209',
   'FS_YEAR': 2022,
   'FS_MONTH': 9,
   'FS_QTR': '3Q',
   'MAIN_TERM': '연결',
   'M111000': 470278409000,
   'M113000': 125371520000,
   'M122700': 9389198000,
   'M221100': 36.349,
   'M312000': 1346.14239,
   'M314000': 49387.09124,
   'M382100': 39.44605}]}

In [73]:
resarr = []
for ele in resdict['dataset']:
    for d in ele['DATA']:
        d['CODE'] = ele['CODE'][1:]
        resarr.append(d)

In [74]:
import pandas as pd
df = pd.DataFrame(resarr)

In [75]:
df

,DATE,YYMM,FS_YEAR,FS_MONTH,FS_QTR,MAIN_TERM,M111000,M113000,M122700,M221100,M312000,M314000,M382100,CODE
0,201203,201203,2012,3,1Q,연결,1.601566e+11,5.464993e+10,5.048461e+09,51.798,571.423621,13715.76499,44.62540,005930
1,201206,201206,2012,6,2Q,연결,1.663000e+11,5.603590e+10,5.193420e+09,50.820,593.541406,14313.38929,40.46895,005930
2,201209,201209,2012,9,3Q,연결,1.767271e+11,6.018831e+10,6.564927e+09,51.647,755.277449,14910.28826,35.64255,005930
3,201212,201212,2012,12,4Q,연결,1.810716e+11,5.959136e+10,7.038477e+09,49.054,805.320132,15539.85178,37.79865,005930
4,201303,201303,2013,3,1Q,연결,1.908427e+11,6.203703e+10,7.154941e+09,48.163,820.173356,16471.71712,37.23605,005930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,202109,202109,2021,9,3Q,연결,8.612660e+07,4.278338e+07,6.040864e+04,98.708,1.606860,1194.19513,1798.54121,253590
211,202112,202112,2021,12,4Q,연결,8.884072e+07,3.791629e+07,7.238427e+06,74.456,192.218900,1400.95350,18.83270,253590
212,202203,202203,2022,3,1Q,연결,9.098412e+07,3.879329e+07,1.561763e+06,74.330,41.450810,1435.79282,89.26243,253590
213,202206,202206,2022,6,2Q,연결,9.733671e+07,4.137008e+07,3.526213e+05,73.919,9.210020,1508.06006,364.27702,253590
214,202209,202209,2022,9,3Q,연결,1.412814e+08,8.114154e+07,5.052960e+06,134.921,131.400560,1652.10841,24.12471,253590

In [76]:
df = df.set_index([pd.to_datetime(df['DATE'].apply(lambda x : x + '01')),df['CODE']])

In [77]:
df.drop(['DATE','YYMM','FS_YEAR','FS_MONTH','FS_QTR','MAIN_TERM'],axis=1,inplace=True)

In [78]:
df

,,M111000,M113000,M122700,M221100,M312000,M314000,M382100,CODE
DATE,CODE,,,,,,,,
2012-03-01,005930,1.601566e+11,5.464993e+10,5.048461e+09,51.798,571.423621,13715.76499,44.62540,005930
2012-06-01,005930,1.663000e+11,5.603590e+10,5.193420e+09,50.820,593.541406,14313.38929,40.46895,005930
2012-09-01,005930,1.767271e+11,6.018831e+10,6.564927e+09,51.647,755.277449,14910.28826,35.64255,005930
2012-12-01,005930,1.810716e+11,5.959136e+10,7.038477e+09,49.054,805.320132,15539.85178,37.79865,005930
2013-03-01,005930,1.908427e+11,6.203703e+10,7.154941e+09,48.163,820.173356,16471.71712,37.23605,005930
...,...,...,...,...,...,...,...,...,...
2021-09-01,253590,8.612660e+07,4.278338e+07,6.040864e+04,98.708,1.606860,1194.19513,1798.54121,253590
2021-12-01,253590,8.884072e+07,3.791629e+07,7.238427e+06,74.456,192.218900,1400.95350,18.83270,253590
2022-03-01,253590,9.098412e+07,3.879329e+07,1.561763e+06,74.330,41.450810,1435.79282,89.26243,253590
2022-06-01,253590,9.733671e+07,4.137008e+07,3.526213e+05,73.919,9.210020,1508.06006,364.27702,253590
2022-09-01,253590,1.412814e+08,8.114154e+07,5.052960e+06,134.921,131.400560,1652.10841,24.12471,253590